<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>HTML5 Game Programming Lesson 2</title>

  <style>
    #screen { display:block; margin:0 auto; background-color:#F0F; }
      
    .fpsmeter {
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .fpsmeter p {
        margin-top: 0px;
        margin-bottom: 0px;
    }

  </style>
</head>
<body>
  <h3>HTML5 Game Programming Lesson 2</h3>
  <canvas id='screen' width='800' height='480'></canvas>
  <div id="fpscontainer"></div>
  <script src='../controllers/JareUtils.js'></script>
  <script src='../controllers/FPSMeter.js'></script>
  <script src='../controllers/GameLoopManager.js'></script>
  <script src='../controllers/Lesson.js'></script>
</body>
</html>